crds:
  enabled: true

global:
  leaderElection:
    namespace: cert-manager

installCRDs: true

# Configure DNS servers for DNS01 challenges
extraArgs:
  - --dns01-recursive-nameservers=1.1.1.1:53,8.8.8.8:53
  - --dns01-recursive-nameservers-only
