# Istio Gateway configuration with NodePort
service:
  type: NodePort
  ports:
    - name: status-port
      port: 15021
      protocol: TCP
      targetPort: 15021
    - name: http2
      port: 80
      protocol: TCP
      targetPort: 80
      nodePort: 30080

global:
  hub: docker.io/istio
  tag: 1.28.3
