apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: gateway
  namespace: istio-system
  annotations:
    networking.istio.io/service-type: "NodePort"
    networking.istio.io/service-nodePort.https: "30443"
  labels:
    app: istio-gateway
    environment: development
spec:
  gatewayClassName: istio
  listeners:
    - name: https
      protocol: HTTPS
      port: 443
      hostname: "*.skripsi.oryzasa.site"
      allowedRoutes:
        namespaces:
          from: All
      tls:
        mode: Terminate
        certificateRefs:
          - group: ''
            kind: Secret
            name: wildcard-skripsi-tls
            namespace: istio-system
