clusterName: rook-ceph
monitoring:
  enabled: false
  createPrometheusRules: false

cephClusterSpec:
  dataDirHostPath: /var/lib/rook
  
  cephVersion:
    image: quay.io/ceph/ceph:v19.2.3
    allowUnsupported: false
    imagePullPolicy: IfNotPresent
  
  dashboard:
    enabled: true
    ssl: false
    port: 7000
  storage:
    useAllNodes: true
    useAllDevices: false
    deviceFilter: "^vdb$"
    config:
      osdsPerDevice: "1"
      encryptedDevice: "false"
    nodes: []
  mon:
    count: 1
    allowMultiplePerNode: true
  mgr:
    count: 1
    allowMultiplePerNode: true
    modules:
      - name: pg_autoscaler
        enabled: true
  network:
    provider: host
    connections:
      encryption:
        enabled: false
      compression:
        enabled: false
  resources:
    mon:
      limits:
        cpu: "500m"
        memory: "512Mi"
      requests:
        cpu: "100m"
        memory: "128Mi"
    mgr:
      limits:
        cpu: "500m"
        memory: "512Mi"
      requests:
        cpu: "100m"
        memory: "128Mi"
    osd:
      limits:
        cpu: "1000m"
        memory: "1Gi"
      requests:
        cpu: "200m"
        memory: "256Mi"
  priorityClassNames:
    mon: system-node-critical
    osd: system-node-critical
    mgr: system-cluster-critical

  disruptionManagement:
    managePodBudgets: true
    osdMaintenanceTimeout: 30

  healthCheck:
    daemonHealth:
      mon:
        disabled: false
        interval: 60s
      osd:
        disabled: false
        interval: 60s
      status:
        disabled: false
        interval: 60s
    livenessProbe:
      mon:
        disabled: false
      mgr:
        disabled: false
      osd:
        disabled: false

cephBlockPools:
  - name: ceph-blockpool
    spec:
      failureDomain: host
      replicated:
        size: 1  # 
        requireSafeReplicaSize: false 
    storageClass:
      enabled: true
      name: ceph-block
      isDefault: true
      reclaimPolicy: Delete
      allowVolumeExpansion: true
      volumeBindingMode: Immediate
      parameters:
        imageFormat: "2"
        imageFeatures: layering
        csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
        csi.storage.k8s.io/provisioner-secret-namespace: rook-ceph
        csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
        csi.storage.k8s.io/node-stage-secret-namespace: rook-ceph
        csi.storage.k8s.io/fstype: ext4

cephFileSystems: []
# Uncomment to enable CephFS:
#   - name: ceph-filesystem
#     spec:
#       metadataPool:
#         replicated:
#           size: 1
#       dataPools:
#         - replicated:
#             size: 1
#       preserveFilesystemOnDelete: false
#     storageClass:
#       enabled: true
#       name: ceph-filesystem
#       isDefault: false

# Ceph Object Store (RGW) - optional
cephObjectStores: []

toolbox:
  enabled: false
